.App {
    padding-bottom: 100px;
}

.App > * {
    padding: 20px;
    /* max-width: 1080px; */

    margin-left: auto;
    margin-right: auto;
}

h5 {
    margin: 0 0 1rem 0;
}

.leaf {
    margin-bottom: 1rem;
    display: flex;
    align-items: top;
    flex: 1;
    margin-right: 20px;
}

pre {
    font-size: 10px;
}

.leaf input {
    border: solid 3px rgba(180, 180, 180, 1);
    border-color: rgba(0, 0, 0, 0);
    -webkit-appearance: none;
    padding: 10px;
    background: none;
    width: 100%;
    transition: border-color 100ms ease;
    text-overflow: ellipsis;
    overflow: hidden;
}

.leaf.hidden input {
    opacity: 0.25;
}

.leaf input:hover,
.leaf input:focus {
    border-color: rgba(220, 220, 220, 1);
}

body {
    background: rgb(230, 230, 230);
    margin: 0;
}

body * {
    box-sizing: border-box;
}

.font-name-fix {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: dashed 1px lightgrey;
}

.font-name-fix input {
    width: 180px;
}

td:first-child {
    padding-right: 20px;
}

.subsitutions {
    border-right: solid 2px;
}

.toggle-leaf {
    font-size: 20px;
    opacity: 0.25;
    cursor: pointer;
    margin-right: 20px;
}

.toggle-leaf:hover {
    opacity: 0.75;
}

.leaf.hidden .toggle-leaf {
    opacity: 0.5;
}

.leaves {
    white-space: nowrap;
    overflow: hidden;
    /* text-overflow: ellipsis; */
}

/* .controls {
  height: 50px;
  border-bottom: solid 2px;
} */

.leaf-row {
    display: flex;
    align-items: flex-start;
}

.single-output,
.right-column {
    flex: 25%;
    min-width: 25%;
    max-width: 25%;
}

.controller {
    margin-bottom: 20px;
    position: relative;
}
.controller > label > .controller-toggler,
.includes .controller-toggler {
    float: left;
    margin-right: 10px;
    opacity: 0.25;
}

.controller > label > i,
.includes i {
    font-style: normal;
    font-size: 24px;
    margin-bottom: 10px;
    display: block;
}

.controller-content {
    display: flex;
}

.controller-content.hidden {
    display: none;
}

.controller-content i {
    margin-right: 10px;
}

.controller-content div {
    margin-bottom: 5px;
}

.controller-content input[type='text'] {
    width: 130px;
}

.prefix-label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
}

.prefix-label input {
    font-size: 18px;
}

.left-column {
    flex: 1;
}

input[type='radio'] {
    margin-right: 10px;
}

.control-bar {
    position: fixed;
    width: 100%;
    background: slategray;
    bottom: 0;
    max-width: 100%;
    z-index: 10;
}
